/* Small devices   */
@media all and (max-width: 576px) {
    header{
        padding: 20px;
    }

    .nav {
        gap: 10px;
        flex-direction: column;
    }
    .nav h1{
        font-size: 1.5em;
    }

    #banner {
        margin-top: 20px;
        align-items: start;
    }

    .banner h1 {
        font-size: 21px;
        text-align: left;
    }

    .banner p {
        width: 90%;
        text-align: left;
        font-size: 13px;
        margin: 10px 0px;
    }

    .btn{
         padding: 14px 21px;
         margin-top:6px;
         margin-bottom: 20px;
    }
       
    .banner-img {
        width: 95%;
    }

/*==============================================
=========== End header section Responsive  ====
=================================================*/
/* main part */
main{
    width: 100%;
}
/* Start feature styles for small device */
.features{
    flex-direction: column;
    padding: 24px;
    align-items: center;
}

.features-images{
    grid-template-columns: 1fr;
}
.features-images img{
    
}
.col{
    width: 90%;
}
.features-content p{
    width: 100%;
}









/* end responsive  */
}
/* end responsive  */