@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common css */
img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #424242;
}

button {
    cursor: pointer;
}

.light-drk {
    color: rgb(114, 114, 114);
}

.drk {
    color: rgb(19, 19, 19);
}

.pr {
    color: rgb(255, 144, 14);
}

/* header part here */
header {
    background: rgba(255, 144, 14, 0.1);
    padding: 45px 0px;
}

/* nav */
.nav {
    display: flex;
    justify-content: space-around;
    gap: 230px;
}

.nav h1 {
    color: rgb(19, 19, 19);
    font-size: 2.3em;
    font-weight: 700;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}



/* banner */
#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 96px;
}

.banner h1 {
    color: rgb(19, 19, 19);
    font-size: 53px;
    font-weight: 700;
    text-align: center;
}

.banner p {
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    width: 50%;
    text-align: center;
    margin: 20px 0px;
}

.btn {
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: white;
    padding: 18px 25px;
    border: none;
    margin-bottom: 40px;

}

.banner-img {
    width: 1150px;
}

/* Main Part css */
main {
    width: 1150px;
    margin: 0 auto;
}

main>section {
    margin-top: 60px;
}

/* Features section css here*/
.features {
    display: flex;
    gap: 65px;
}

.features-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
}

.features-images img {
    border: 2px dashed #ddd;
}

.features-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 24px;
    height: 100%;

}

.col {
    width: 50%;
}

.features-content h2 {
    font-size: 37px;
    font-weight: 700;
    text-align: left;

}

.features-content p {
    color: rgb(114, 114, 114);
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    width: 70%;
}

/* Experience css here */
.experience {
    display: flex;
    gap: 65px;
}

.experience h1 {
    color: rgb(19, 19, 19);
    font-size: 37px;
    font-weight: 700;
    text-align: left;
    border-left: 5px solid orange;
    padding-left: 21px;
}

.experience .col>p {
    color: rgb(114, 114, 114);
    font-size: 1em;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin: 24px 0;
}

/* .experience-card-container {} */

.experience-card {
    margin-top: 24px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}

.experience-card h3 {
    color: rgb(19, 19, 19);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: left;
}

.experience-card p {
    color: rgb(114, 114, 114);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-top: 10px;
}

.experience button {
    margin-top: -90px;
    margin-left: -70px;
    padding:35px;
    border: none;
    border-radius: 8px;
    background: rgb(255, 144, 14);
}
.experience-button-text{
    font-size: 3.3rem;
    color: white;
    font-weight: 700;
}
.experience-button-text1{
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
}
